<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="doseo.dao.mybatis.mapper.AppointmentMapper">
	<cache />
	<select id="getAppointment_list" resultType="Appointment">
		SELECT A.AP_ID,
		TO_CHAR(A.AP_DATE, 'yyyy-mm-dd')AS AP_DATE, TO_CHAR(A.AP_TIME, 'HH24:MI')AS AP_TIME, A.SELECT_LANGUAGE, H.HOS_NAME_ENG,
		D.DEPT_NAME_ENG
		FROM APPOINTMENT A, DEPARTMENT D, HOSPITAL H
		WHERE USER_ID = #{id} AND A.DEPT_ID = D.DEPT_ID AND A.HOS_ID = H.HOS_ID
	</select>
	
	<select id="getAppointment" resultType="Appointment">
		SELECT A.AP_ID, TO_CHAR(A.AP_DATE, 'yyyy-mm-dd')AS AP_DATE, TO_CHAR(A.AP_TIME, 'HH24:MI')AS AP_TIME, A.SELECT_LANGUAGE, H.HOS_NAME_ENG,
		D.DEPT_NAME_ENG
		FROM APPOINTMENT A, DEPARTMENT D, HOSPITAL H
		WHERE A.AP_ID = #{ap_id} AND A.DEPT_ID = D.DEPT_ID AND A.HOS_ID = H.HOS_ID
	</select>
	
	<delete id = "deleteAppointment">
		DELETE FROM APPOINTMENT 
		WHERE AP_ID = #{ap_id}
	</delete>
	
	<insert id="insertAppointment" parameterType="Appointment">
		INSERT INTO APPOINTMENT
		(AP_ID, AP_DATE, AP_TIME, SELECT_LANGUAGE, USER_ID, HOS_ID, DEPT_ID, MESSAGE, DOC_ID)
		VALUES(AP_ID_SEQ.nextval, #{date}, #{time}, #{select_language}, #{id}, #{hos_id}, #{dept_id}, #{message}, #{doc_id})
	</insert>
	
	<!-- 해당 의사에 대한 예약 시간들 컬럼 2개-->
<!-- 	<select id="getTimeListCol_2">
		SELECT 
			TO_CHAR(AP_DATE, 'yy-mm-dd') AS AP_DATE,
			TO_CHAR(AP_TIME, 'HH24:MI') AS AP_TIME
		FROM APPOINTMENT
		WHERE DOC_ID=#{doc_id}
	</select> -->
	<!-- 해당 의사에 대한 예약 시간들 컬럼 1개-->
	<!-- <select id="getTimeListCol_1">
		SELECT 
			TO_CHAR(AP_TIME, 'yy-MM-dd HH24:MI') AS AP_TIME
		FROM APPOINTMENT
		WHERE DOC_ID=#{doc_id} 
	</select>-->
			
	<!-- 선택한 의사와 날짜에 대해 이미 있는 예약의 리스트 불러오기 : 시간만 21/08/03 서연-->
	<!-- <select id="getApListByTimeAndDocID" resultType="Appointment">
		SELECT TO_CHAR(AP_TIME, 'HH24:MI') AS AP_TIME
		FROM APPOINTMENT
		WHERE DOC_ID=#{doc_id} AND AP_DATE=#{ap_date}	
	</select> -->
	
	<!-- 의사스케줄과 해당 의사에게 이미 예약이 찬 경우를 차집합 -->
	<select id="getAvaliableTimeList" resultType="java.lang.String">
		WITH TT AS
		(SELECT (SELECT TIME AS TXT FROM TIMETABLE WHERE DOC_ID=#{doc_id} AND DAY=#{day})TXT FROM DUAL
		)SELECT TRIM(REGEXP_SUBSTR(TXT, '[^:]+', 1, LEVEL)) AS TIME
		FROM TT CONNECT BY INSTR(TXT, ':', 1, LEVEL - 1) > 0
		MINUS
		SELECT TO_CHAR(AP_TIME, 'HH24') AS AP_TIME
		FROM APPOINTMENT
		WHERE DOC_ID=#{doc_id} AND AP_DATE=#{date}
	</select>
	
<!-- 21/07/15 11:10 to_timestamp('#{time}','YY/MM/DD HH24:MI')-->
</mapper>