<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="doseo.dao.mybatis.mapper.HospitalMapper">
	<cache />
	<select id="getHospitalList" parameterType="map" resultType="Hospital">
		SELECT 
			HOS_NAME_KOR AS NAME_KOR, 
			HOS_NAME_ENG AS NAME_ENG, 
			TEL,
			HOS_COUNTRY AS COUNTRY, 
			HOS_CITY AS CITY, 
			HOS_DISTRICT AS DISTRICT, 
			LOCATION, 
			DETAIL
		FROM HOSPITAL
		WHERE HOS_COUNTRY= #{country} AND HOS_CITY= #{city} AND HOS_DISTRICT= #{district}
	</select>
	
	<select id="getHospitalListByLang" parameterType="map" resultType="Hospital">
		SELECT 
			HOS_NAME_KOR AS NAME_KOR, 
			HOS_NAME_ENG AS NAME_ENG, 
			TEL,
			HOS_COUNTRY AS COUNTRY, 
			HOS_CITY AS CITY, 
			HOS_DISTRICT AS DISTRICT, 
			LOCATION, 
			DETAIL
		FROM HOSPITAL H, LANGUAGE L
		WHERE HOS_COUNTRY= #{country} AND HOS_CITY= #{city} AND HOS_DISTRICT= #{district} AND H.HOS_ID=L.HOS_ID AND LANGUAGE= #{language}
	</select>
	
	<select id="getHospitalListByDept" resultType="Hospital">
		SELECT
			H.HOS_ID AS ID,
			H.HOS_NAME_KOR AS NAME_KOR, 
			H.HOS_NAME_ENG AS NAME_ENG, 
			TEL,
			LOCATION, 
			DETAIL,
			EMAIL
		FROM HOSPITAL H, DEPARTMENT D
		WHERE H.HOS_ID = D.HOS_ID AND DEPT_NAME_ENG=#{deptName}<!-- Dermatology -->
	</select>
		
	<select id="getLangListByHosId" resultType="java.lang.String">
		SELECT L.LANGUAGE AS LANGUAGE
		FROM LANGUAGE L, HOSPITAL H  
		WHERE L.HOS_ID = H.HOS_ID AND H.HOS_ID=#{hos_id}
	</select>
	
	<select id="getHosId" resultType="java.lang.String">
		SELECT HOS_ID
		FROM HOSPITAL
		WHERE HOS_NAME_ENG=#{hos_eng}
	</select>
	
	<select id="getHosIdByLoginId" resultType="java.lang.String">
		SELECT HOS_ID
		FROM HOSPITAL
		WHERE HOS_LOGIN_ID = #{hos_login_id}
	</select>
	
	<select id="getDeptId" resultType="java.lang.String">
		SELECT DEPT_ID
		FROM DEPARTMENT
		WHERE DEPT_NAME_ENG=#{dept_eng} AND HOS_ID=#{hos_id}
	</select>
	
	<select id="getHosCount" resultType="int">
		SELECT COUNT(*) 
		FROM DEPARTMENT
		WHERE DEPT_NAME_ENG=#{deptName}
	</select>
	
	
	
</mapper>